doctype html 
html(lang="en")
    head    
        title Assignment II 
    body
        header 
            h1 Assignment II : Build Backend API for Front-End
        
        //- section#question(style="padding-bottom: 20px;")
        //-     h2 Welcome! Try to so the following steps and See how the server response.
        //-     p <em>SETP 1</em>:  Enter "http://localhost:3000/data" in a browser’s address bar.
        //-     p <em>STEP 2</em>: Enter "http://localhost:3000/data?number=xyz" in a browser’s address bar.
        //-     p <em>STEP 3</em>: Enter "http://localhost:3000/data?number=5" in a browser’s address bar.
        //-     p <em>STEP 4</em>: Enter "http://localhost:3000/data?number=N" in a browser’s address bar. (N is any positive integer)

        //- section#answer(style="padding-bottom: 20px;")
        //-     h2 The Server Response: 
        //-     p#response 

        //- footer 
        //-     p An app for Week 3
