doctype html 
//- html(lang="en")
//-     head    
//-         title Assignment III
//-     body
//-         h1 Assignment III : Connect to Backend API by AJAX
        
//-         if number
//-             h2 Response: #{number}!
//-         form(action='/hello', method='post')
//-         label Please enter a number(a positive integer):   
//-             input(type="number", number="number")
//-         button(type="submit") Submit
        